body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #111827;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

input {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* HERO */
.hero {
  padding: 40px;
  text-align: center;
  background: linear-gradient(90deg,#111827,#0b0f1a);
}

/* SECTIONS */
h2 {
  padding: 10px 20px;
}

/* GRID */
.grid, .row {
  display: flex;
  gap: 15px;
  padding: 10px 20px;
  flex-wrap: wrap;
}

/* APP TILES */
.tile {
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
}

.tile:hover {
  transform: scale(1.05);
}

/* THUMBNAILS */
.thumb {
  width: 160px;
  height: 110px;
  border-radius: 14px;
  background: #1f2937;
}

/* fake “game art” colors */
.snake { background: linear-gradient(135deg,#00ff88,#0044ff); }
.pong { background: linear-gradient(135deg,#ff4d4d,#ffcc00); }
.clicker { background: linear-gradient(135deg,#8b5cf6,#06b6d4); }

.title {
  text-align: center;
  margin-top: 5px;
}

/* GAME VIEW */
#gameView {
  display: none;
  text-align: center;
  padding: 10px;
}

iframe {
  width: 95%;
  height: 500px;
  border: none;
  background: black;
  border-radius: 10px;
}
