body {
  margin: 0;
  font-family: Arial;
  background: #070a12;
  color: white;
}

/* TOPBAR */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #0f1629;
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
}

input {
  width: 40%;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

/* TABS */
.tabs button {
  margin-left: 5px;
  background: #1b233a;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* PAGES */
.page {
  padding: 20px;
}

.hidden {
  display: none;
}

/* GRID */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* CARDS */
.card, .tile {
  width: 160px;
  height: 110px;
  background: #151c33;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover, .tile:hover {
  transform: scale(1.05);
  background: #24304d;
}

/* APP VIEW */
#appView {
  display: none;
  text-align: center;
}

iframe {
  width: 95%;
  height: 500px;
  border: none;
  background: black;
}
